Source: go-broadcast
Section: sound
Priority: extra
Maintainer: Alban Peignier <alban@tryphon.eu>
Build-Depends: debhelper (>= 8.0.0), golang-go, libvorbis-dev, libasound2-dev, libsndfile1-dev, libopus-dev, pkg-config, git-core, mercurial
Standards-Version: 3.9.4
Homepage: http://projects.tryphon.eu/projects/go-broadcast
#Vcs-Git: git://projects.tryphon.eu/go-broadcast
#Vcs-Browser: http://projects.tryphon.eu/projects/go-broadcast/repository

Package: go-broadcast
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Broadcast our audio content
 Support HTTP streams for the moment
